*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    /* background: url() no-repeat; */
    background-color: rgb(255,255,255);
    background-size: cover;
    /* height: 100vh; */
    padding: 0.5vh 0;
    position: fixed;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -50px 36px -28px inset;
}
.navContent{
    display: flex;
    align-items: center;
    width: 100%;
}
.logo{
    margin-left: 2rem;
    padding: 0.7vw;
}
.logo>img{
    width: 15vw;
}
.navItem{
    margin-left: auto;
    width: 40%;
    margin-right: 4rem;
}
.navItem>ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}
.navItem ul li{
    cursor: pointer;
}
#account{
    font-size: 1.8vw;
}
.active {
    border-bottom: 2px solid rgb(9, 159, 247) !important;
}
#hamburgerMenu{
    display: none;
    margin-left: auto;
}
.signUpform{
    border: none;
    outline: none;
    padding: 1vw;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
#submitBtn{
    color: white;
    background-color: black;
    width: 100%;
    margin-top: 5vh;
}
.sideLine{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ccc;
    margin-top: 3vh;
}
.sideLine::before,
.sideLine::after{
    content: '';
    border-top: 1px solid #b4b4b4;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}
.sideLine::after{
    margin: 0 0 0 20px;
}
#fbBtn{
    color: white;
    background-color: dodgerblue;
    width: 100%;
    margin-top: 3vh;
}
#username, #logoutBtn{
    display: none;
}
#signUpLoginBtn{
    display: flex;
    width: 8vw;
    justify-content: space-between;
}
.list{
    display: flex;
    justify-content: space-between;
    width: 40vw;
}
@media screen and (max-width: 1000px) {
    .logo>img{
        width: 30vw;
    }
}
@media screen and (max-width: 820px) {
    .list{
        display: none;
    }
    #hamburgerMenu{
        display: block;
    }

}

/* https://www.originalbuddhas.com/blog */